* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2c3e50;
    background: linear-gradient(135deg, #1e1c94, #030833);
    padding: 2rem;
    font-family: 'Verdana', sans-serif;
}

h1 {
    text-align: center;
    color: white;
    margin: 20px 0;
    font-family: "Source Code Pro", monospace;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 25px;
    max-width: 1200px;
    margin: auto;
}

.card {
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
}

.card-img {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

.error {
    opacity: 0.5;
}

.card-container {
    padding: 1rem;
}

.card-container h2 {
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.card-info {
    display: flex;
    justify-content: space-between;
    margin: 0.5rem auto;
}

.pais {
    padding: 4px 10px;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    background-color: rgb(149, 138, 255);
    color: white;
}
